@tailwind components;
@tailwind utilities;

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

a {
    color: blue;
    font-weight: bold;
}

.phototext {
    color: #999;
    font-style: italic;
}

h1 {
    font-weight: normal;
    font-size: 40px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    padding: 0;
}

h3.alt {
    font-size: 20px;
}

h1.lax, h2.lax, h3.lax {
    font-weight: normal;
}

.default-2x-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.dat-box {
    border: 3px solid #333;
    --box-margin: 10px;
}

.dat-box > *:first-child {
    margin: 0;
    padding: var(--box-margin);
    background: #333;
    color: #fff;
}

.dat-box-body {
    padding: var(--box-margin);
}

.dat-box-body > *:first-child {
    margin-top: 0;
}

.extremely-sexy-button {
    border: 3px solid #333;
    box-shadow: 10px 10px 0 0 #333;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #333;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.extremely-sexy-button:hover {
    background-color: #f7f7f7;
}

@media (max-width: 700px) {
    .default-2x-grid.mob-1x {
        grid-template-columns: 1fr;
    }
}

.boxy-schmoxy {
    background: #f7f7fe;
    padding: 30px;
}

.titlemeta, .othermeta {
    font-size: .8em;
    color: #666;
    font-style: italic;
    margin-top: 2px;
    padding-top: 0;
    text-align: right;
}

.titlemeta {
    text-transform: uppercase;
}

.supermeta {
    margin-top: 2px;
    padding-top: 0;
    font-size: 15px;
    color: #666;
    font-style: italic;
}

dl, dd, dt {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bold;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    row-gap: 10px;
}